body {
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(103,184,246,1) 0%, rgba(78,113,212,1) 0%, rgba(0,212,255,1) 100%);
  background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

}



a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.divcontainer{
  position: absolute;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 25rem;
  padding-top: 20rem;
}

.divCalendarRDV{
  padding-top: 10rem;
}

.buttonDisponibility{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.glyphicon {  margin-bottom: 10px;margin-right: 10px;}

.small {
display: block;
line-height: 1.428571429;
color: white;
background-color: grey;
width: 400px;
}

.blocRDV{
  margin-top: 75px;
  background-color: aliceblue;
  border-radius: 20px;
  padding-bottom: 20px;
  display: flex;
    align-items: center;
    justify-content: center;

}

.SearchBarPatient{
  margin-top: 100px;
  padding-bottom: 100px;
  margin-right: 100px;



}

.Head{
  background-image: url("/images/backgrounddoctor1.png");
  background-size: cover;

  padding:0;

}

.titleBlockRDV{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 30px;
    font-family: cursive;
}

.colRDV{
  border-radius: 20px;

    text-align: center;

}

.buttonInfo{
  text-align: end;
}

.dispo{
  text-align: center;
}

.notreserved{
  height: 38px;
}

.cardInfoUsers{
  background-image: url("/images/backgrounddoctor6.png");
  background-size: 1296px 200px;
}

.img{
  width:10px
}
.iconeDelete{
  margin-left: 20px;
}

.list-group-item{
  transition: box-shadow .3s;
  border-radius: 20px;
  margin-bottom: 10px;
}

.list-group{
  border-radius: 20px;

}
.list-group-item :hover{
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 255, .2);

}
